<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>小强云盘</title>
    <link rel="icon" href="/static/img/ico.ico">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/sharelink.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/sweetalert-1.1.3/sweetalert.min.js"></script>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><img src="/static/img/xiaoqiangyun.png" class="img"></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->


        <ul class="layui-nav layui-layout-left e">
            <li class="layui-nav-item"><a href="#">网盘</a></li>
            <li class="layui-nav-item"><a href="/home/share/">分享</a></li>
            <li class="layui-nav-item"><a href="https://pan.baidu.com/mall/home?from=panhome"
                                          target="_blank">找资源</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">关于我们</a>
                <dl class="layui-nav-child">
                    <dd><a href="">制作人：</a></dd>
                    <dd><a href="https://www.cnblogs.com/dongxixi/" target="_blank" title="点击将访问此董希希博客">&nbsp;&nbsp;
                        董希希</a></dd>
                    <dd><a href="https://www.cnblogs.com/tyler-bog/" target="_blank" title="点击将访问此李强博客">&nbsp;&nbsp;
                        李　强</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="/static/img/RCzsdCq.jpg" class="layui-nav-img">
                    访客
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/admins/myinfo/?id=1">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" id="exit"><a href="/admins/login/1">退出</a></li>
            <li class="layui-nav-item c">
                <div id="about" hidden="hidden">
                    <a href="javascript:;">关于我们</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">制作人：</a></dd>
                        <dd><a href="https://www.cnblogs.com/dongxixi/" target="_blank" title="点击将访问此董希希博客">&nbsp;&nbsp;
                            董希希</a></dd>
                        <dd><a href="https://www.cnblogs.com/tyler-bog/" target="_blank" title="点击将访问此李强博客">&nbsp;&nbsp;
                            李　强</a></dd>
                    </dl>
                </div>
            </li>
        </ul>
    </div>


    <a href="" download id="url" style="display:none"></a>

    <div class="layui-body demoTable" id="layerDemo" style="margin-top: 20px;">
        <blockquote class="layui-elem-quote layui-text">
            于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里，没有早一步，也没有晚一步，刚巧赶上了，那也没有别的话可说，惟有轻轻地问一声。
        </blockquote>
        &emsp;&emsp;&emsp;
        <button class="layui-btn" id="download"><i class="layui-icon">&#xe601;</i> 下载选中</button>
        &emsp;

        &emsp;
        <div class="layui-inline">
            <input class="layui-input" name="id" id="demoReload" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload" id="seeks">搜索文件名</button>


        &emsp;

        <div class="layui-form-item " pane="">
        </div>
        <table class="layui-hide " id="share" lay-filter="user"></table>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script type="text/javascript" src="/static/layui/layui.all.js"></script>
<script src="/static/layui/layui.js" charset="utf-8"></script>
<script src="/static/js/sharelink.js"></script>
<script>
    //iframe窗

    layer.open({
        type: 2,
        title: false,
        closeBtn: 1, //不显示关闭按钮
        shade: 0,
        area: ['380px', '300px'],
        offset: 'rb', //右下角弹出
        time: 0, //2秒后自动关闭
        anim: 2,

        content: ['/title'], //iframe的url，no代表不显示滚动条
        /*end: function () { //此处用于演示
            layer.open({
                type: 2,
                title: '很多时候，我们想最大化看，比如像这个页面。',
                shadeClose: true,
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['893px', '600px'],
                content: '//fly.layui.com/'
            });
        }*/
    });


</script>
</body>
</html>