.img {
    width: 190px;
    height: 50px;
}

.layui-table-cell {
    height: 30px;
}

a {
    text-decoration: none!important;
}

.b {
    left: 0px!important;
}
.c {
    float: right;
}


.seek {

    margin-left: 100px;

}

.d {
    text-align:center
}

.clearfix:after{ /*清除浮动方法2*/
content:"";
display: block;
clear: both;
}