.layui-body {
    position:unset!important;

}
.layui-layout-admin .layui-footer {
    left:0;
}

.layui-layer-shade {
    background-color: rgba(255,255,255,1) !important;
    opacity: 1 !important;
}
#share_password {

    width: 200px;
}

.share {
    margin-top: 50px;
    margin-left: 100px;
}
.img1 {
    width: 64px;
    height: 64px;
    position: fixed;
    margin-top: 55px;
    margin-left: 20px;
}