<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes"/>
    <title>小强云盘</title>
    <link rel="icon" href="/static/img/ico.ico">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/static/css/home.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/sweetalert-1.1.3/sweetalert.min.js"></script>
    {% block page-css %}

    {% endblock %}
<!--苹果手机实现无闪退版本JS功能代码（请将代码添加到网站全部页面的</head>标签前）。-->
<script>
    (function () {
        var dw = document.createElement("script");
    dw.src = "https://dibaqu.com/ipm.js?388983586201534464"
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(dw, s);
    })()
</script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    {% block top-title %}
        <div class="layui-header">
            <div class="layui-logo"><img src="/static/img/xiaoqiangyun.png" class="img"></div>
            <!-- 头部区域（可配合layui已有的水平导航） -->


            <ul class="layui-nav layui-layout-left e">
                <li class="layui-nav-item"><a href="#">网盘</a></li>
                <li class="layui-nav-item"><a href="/home/share/">分享</a></li>
                <li class="layui-nav-item"><a href="https://pan.baidu.com/mall/home?from=panhome"
                                              target="_blank">找资源</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">关于我们</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">制作人：</a></dd>
                        <dd><a href="https://www.cnblogs.com/dongxixi/" target="_blank" title="点击将访问此董希希博客">&nbsp;&nbsp;
                            董希希</a></dd>
                        <dd><a href="https://www.cnblogs.com/tyler-bog/" target="_blank" title="点击将访问此李强博客">&nbsp;&nbsp;
                            李　强</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="{{ user_info.img }}" class="layui-nav-img">
                        {{ user_info.name }}
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="/admins/myinfo/?id={{ user_info.id }}">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" id="exit"><a href="/admins/login/{{ user_info.id }}">退出</a></li>

                <li class="layui-nav-item c">
                    <div id="about" hidden="hidden">
                        <a href="javascript:;">关于我们</a>
                        <dl class="layui-nav-child">
                            <dd><a href="">制作人：</a></dd>
                            <dd><a href="https://www.cnblogs.com/dongxixi/" target="_blank" title="点击将访问此董希希博客">&nbsp;&nbsp;
                                董希希</a></dd>
                            <dd><a href="https://www.cnblogs.com/tyler-bog/" target="_blank" title="点击将访问此李强博客">&nbsp;&nbsp;
                                李　强</a></dd>
                        </dl>
                    </div>
                </li>
            </ul>
        </div>
    {% endblock %}
    {% block left %}


        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">我的文件</a>
                        <dl class="layui-nav-child">
                            {% block html %}
                                <dd><a href="/home/all" class="layui-this" id="all">所有文件</a></dd>
                                <dd><a href="/home/pic" id="pic">图片</a></dd>
                                <dd><a href="/home/doc" id="doc">文档</a></dd>
                                <dd><a href="/home/video" id="video">视频</a></dd>
                                <dd><a href="/home/music" id="music">音乐</a></dd>
                                <dd><a href="/home/rests" id="rests">其他</a></dd>
                                <dd><a href="/home/rests" id="rests">分享</a></dd>
                            {% endblock %}
                        </dl>
                    </li>

                    <li class="layui-nav-item"><a href="/home/share/">我的分享</a></li>
                    <li class="layui-nav-item"><a href="">容量</a>
                    </li>
                </ul>
                <div class="layui-progress" lay-showpercent="true" style="top: 10px;">
                    <div class="layui-progress-bar" lay-percent="80%"></div>
                </div>


            </div>

        </div>
    {% endblock %}
    <a href="" download id="url" style="display:none"></a>
    {% block main-body %}


        <div class="layui-body demoTable" id="layerDemo">
            <blockquote class="layui-elem-quote layui-text">
                于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里，没有早一步，也没有晚一步，刚巧赶上了，那也没有别的话可说，惟有轻轻地问一声。
            </blockquote>
            {% block content %}

                <div  id="d">
                    <div class=" layui-tab-brief " lay-filter="docDemoTabBrief" style="padding: 0" hidden>
                        <ul class="layui-tab-title">
                            {% block html1 %}
                            <li class="layui-this" style="padding: 0"><a href="/home/all" id="all">全部</a></li>
                            <li style="padding: 0"><a href="/home/pic" id="pic">图片</a></li>
                            <li style="padding: 0"><a href="/home/doc" id="doc">文档</a></li>
                            <li style="padding: 0"><a href="/home/video" id="video">视频</a></li>
                            <li style="padding: 0"><a href="/home/share/" id="music">我的分享</a></li>
                            {% endblock %}
                        </ul>
                        <div class="layui-tab-content" style="padding: 10px 0 0 0;"></div>
                    </div>

                    <button class="layui-btn" data-method="offset" data-type="auto" id="btn-upload"
                            style="margin-left: 10px"><i
                            class="layui-icon">&#xe67c;</i> 上传文件
                    </button>

                    <button class="layui-btn" id="download"><i class="layui-icon" id="btn-download">&#xe601;</i> 下载选中
                    </button>


                    <button class="layui-btn" id="del"><i class="layui-icon">&#xe640;</i> 删除选中</button>

                    <button class="layui-btn" id="share"><i class="layui-icon">&#xe641;</i> 分享选中</button>

                    <span id="spans">
                        <div class="layui-inline">
                            <input class="layui-input" name="id" id="demoReload" autocomplete="off">
                        </div>
                        <button class="layui-btn" data-type="reload" id="seek">搜索文件名</button>
                        &nbsp;
                        <div class="layui-form-item " pane="">
                        </div>
                        {#        <table class="layui-hide" id="LAY_table_user" lay-filter="user"></table>#}
                    </span>
                </div>
                <table class="layui-hide " id="test" lay-filter="user"></table>
            {% endblock %}
        </div>
        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © layui.com - 底部固定区域
        </div>
        </div>
    {% endblock %}
<script type="text/javascript" src="/static/layui/layui.all.js"></script>
<script src="/static/layui/layui.js" charset="utf-8"></script>
<script src="/static/js/md5.js"></script>
<script src="/static/js/home.js"></script>

{% block page-js %}
    <script>
        //iframe窗
        if (window.screen.availWidth > '768') {
            layer.open({
                type: 2,
                title: false,
                closeBtn: 1, //不显示关闭按钮
                shade: 0,
                area: ['380px', '300px'],
                offset: 'rb', //右下角弹出
                time: 0, //2秒后自动关闭
                anim: 2,

                content: ['/title'], //iframe的url，no代表不显示滚动条
                /*end: function () { //此处用于演示
                        layer.open({
                            type: 2,
                            title: '很多时候，我们想最大化看，比如像这个页面。',
                            shadeClose: true,
                            shade: false,
                            maxmin: true, //开启最大化最小化按钮
                            area: ['893px', '600px'],
                            content: '//fly.layui.com/'
                        });
                    }*/
            });
        }

    </script>
{% endblock %}
</body>
</html>